# Environment variables
*.env

# HTML5 files
*.h5

# Directories
DataSet/
faiss_index/
text_files/
web_scrapping/
database/
database_web/

# Python bytecode cache
__pycache__/

chat_bot.ipynb
class_indices.json